{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>City</th>
      <th>Location</th>
    </tr>
    {% for location in locations %}
    <tr>
      <td>{{ location.cityname }}</td>
      <td>{{ location.location }}</td>
     <td><form method="POST" action="{{url_for('locations_edit', location_id=location.id) }}">
       <input type="submit" value="Edit location"/>
      </form></td>
    <td><form method="POST" action="{{url_for('locations_delete', location_id=location.id) }}">
       <input type="submit" value="Delete location"/>
      </form></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

