{% extends "layout.html" %}

{% block body %}
<style>
  .custom_title {
    font-size: 30px;
  }
</style>

{{ error }}
<p class="custom_title">
  Welcome to the language school!
</p>

{% if count_courses is defined %}
<br>
<p>
  The following locations have available courses:
</p>

<ul>
  {% for response in count_courses %}
  <li>
    {{ response["cityname"] }}: {{ response["coursecount"] }} course(s)
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if count_registrations is defined and current_user.role == "ADMIN" %}
<br>
<p>
  The following courses have active registrations:
</p>

<ul>
  {% for response in count_registrations %}
  <li>
    {{ response["coursename"] }}: {{ response["registrationcount"] }} registration(s)
  </li>
  {% endfor %}
</ul>

{% endif %}

{% if most_popular is defined and current_user.role == "ADMIN" %}
<br>
<p>
  The most popular courses at the moment are:
</p>

<ul>
  {% for response in most_popular %}
  <li>
    {{ response["coursename"] }}: {{ response["registrationcount"] }} registration(s)
  </li>
  {% endfor %}
</ul>

{% endif %}



{% endblock %}

