{% extends "layout.html" %}
{% from "styles.html" import render_field, submit_button, render_radiofield %}

{% block body %}
{{ error }}
<br>
<form method="POST" action="{{ url_for('registrations_update', registration_id=registration.id) }}">
        <dl>
          {{ render_field(form.name) }}
          {{ render_field(form.phonenumber) }}
          {{ render_field(form.email) }}
          {{ form.course_name.label }}
          <br>
          {{ form.course_name }}
           <br>
           <br>

      </dl>
   {{ submit_button("Update information") }}
</form>
{% endblock %}

