{% extends "layout.html" %}
{% from "styles.html" import render_field, submit_button, render_radiofield %}

{% block body %}
  <div class="text-center">
    <h1 class="h1 mb-1 font-weight-normal">Your registrations</h1>
    <br>
   <table class="table">
   <thead class="thead-light">
    <tr>
      <th>Course name</th>
      <th>Your name</th>
      <th>Phone number for contact</th>
      <th>Email for contact</th>
    </tr>
   </thead>
{% for response in find_course %}
   <tbody>
   <tr>
      <td>{{ response["course_name"] }}</td>
      <td>{{ response["name"] }}</td>
      <td>{{ response["phonenumber"] }}</td>
      <td>{{ response["email"] }}</td>
      {% if current_user.role == "CLIENT" %}
     <td><form method="POST" action="{{url_for('registrations_edit', registration_id=registration.course_id) }}">
       {{ submit_button("Edit registration") }}
      </form></td>
    <td><form method="POST" action="{{url_for('registrations_delete', registration_id=registration.course_id) }}">
       {{ submit_button("Delete registration") }}
      </form></td>
     {% endif %}
{% endfor %}
   </tr>
   </tbody>
  </table>
{% endblock %}

