{% extends "layout.html" %}
{% from "styles.html" import render_field, submit_button, render_radiofield %}

{% block body %}
  <div class="text-center">
    <h1 class="h1 mb-1 font-weight-normal">Your registrations</h1>
    <br>
   <table class="table">
   <thead class="thead-light">
    <tr>
      <th>Course name</th>
      <th>Your name</th>
      <th>Phone number for contact</th>
      <th>Email for contact</th>
    </tr>
   </thead>
   {% for registration in registrations %}
   <tbody>
    <tr>
{% for response in find_course %}
      <td>{{ response["course_name"] }}</td>
{% endfor %}
      <td>{{ registration.name }}</td>
      <td>{{ registration.phonenumber }}</td>
      <td>{{ registration.email }}</td>
      </tr>
{% endfor %}
     </tbody>
  </table>
{% endblock %}

