{% extends "layout.html" %}
{% from "styles.html" import render_field, submit_button, render_radiofield %}
  
{% block body %}
<form method="POST" action="{{ url_for('courses_edit', course_id=course.id) }}">
      <dl>
	  {{ render_field(form.name) }}
          {{ render_field(form.coursecode) }}
          {{ render_field(form.language) }}
          {{ render_radiofield(form.level) }}
          {{ render_field(form.spots) }}
          {{ form.course_location.label }}
        <br>
          {{ form.course_location }}
        <br>
        <br>
          {{ render_field(form.description) }}
          {{ form.registrationsopen.label }}
          {{ form.registrationsopen }}
        </dl>
   {{ submit_button("Update information") }}
</form>
{% endblock %}
