{% extends "layout.html" %}
{% from "styles.html" import render_field, submit_button, render_radiofield %}

{% block body %}

<div class="text-center">
    <h1 class="h1 mb-1 font-weight-normal">Available courses</h1>
    <br>
    <form class="form-signin" method=POST action="{{ url_for('courses_index') }}">
      <dl>
        {{ form.select }}
        <p>
        <br>
        {{ form.search }}
        </p>
      </dl>
      {{ submit_button("Search") }}
    </form>
    <br>
  </div>

  <table class="table">
   <thead class="thead-light">
    <tr>
      <th>Course</th>
      <th>Course code</th>
      <th>Language</th>
      <th>Level</th>
      <th>Spots</th>
      <th>Location</th>
      <th>Description</th>
      <th>Registrations open</th>
    </tr>
   </thead>

    {% for course in courses %}
   <tbody>
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.coursecode }}</td>
      <td>{{ course.language }}</td>
      <td>{{ course.level }}</td>
      <td>{{ course.spots }}</td>
      <td>{{ course.course_location }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.registrationsopen }}</td>
      {% if current_user.role == "ADMIN" %}
      <td><form method="POST" action="{{url_for('courses_update', course_id=course.id) }}">
       {{ submit_button("Open registrations") }}
      </form></td>
    <td><form method="POST" action="{{url_for('courses_edit', course_id=course.id) }}">
       {{ submit_button("Edit course") }}
      </form></td>
    <td><form method="POST" action="{{url_for('courses_delete', course_id=course.id) }}">
       {{ submit_button("Delete course") }}
     </form></td>
     {% endif %}
     {% if current_user.role == "CLIENT" %}
    <td><form method="POST" action="{{url_for('courses_register', course_id=course.id) }}">
       {{ submit_button("Register for the course") }}
      </form></td>
     {% endif %}
      </tr>
     </tbody>
    {% endfor %}
  </table>
{% endblock %}
