  
{% block body %}
<form method="POST" action="{{ url_for('courses_create') }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
	<td>
	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>	
      </tr>
	 <tr>
        <td>
          {{ form.coursecode.label }}
        </td>
        <td>
          {{ form.coursecode }}
        </td>
	<td>
	  <ul>
	    {% for error in form.coursecode.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
	 <tr>
        <td>
          {{ form.language.label }}
        </td>
        <td>
          {{ form.language }}
        </td>
	<td>
	  <ul>
	    {% for error in form.language.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
	 <tr>
        <td>
          {{ form.level.label }}
        </td>
        <td>
          {{ form.level }}
        </td>
	<td>
	  <ul>
	    {% for error in form.level.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
	 <tr>
        <td>
          {{ form.spots.label }}
        </td>
        <td>
          {{ form.spots }}
        </td>
	<td>
	  <ul>
	    {% for error in form.spots.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
        <tr>
        <td>
          {{ form.course_location.label }}
        </td>
        <td>
          {{ form.course_location }}
        </td>
        <td>
          <ul>
            {% for error in form.course_location.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
	 <tr>
        <td>
          {{ form.description.label }}
        </td>
        <td>
          {{ form.description }}
        </td>
	<td>
	  <ul>
	    {% for error in form.description.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
	 <tr>
        <td>
          {{ form.registrationsopen.label }}
        </td>
        <td>
          {{ form.registrationsopen }}
        </td>
      </tr>
      <tr>
	<td colspan="2">
   <input type="submit" value="Add a new course"/>
  </td>
 </tr> 
</form>
{% endblock %}
